.userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-style: solid;
    border-color: #02fefe;
    border-radius:1rem;
    background-color: #85b9c9;
}

.editIcon {
    width: 2rem;
    height: 2rem;
}